.containerErro {
    /* background: #ff000091; */
    padding: 10px 20px;
    font-family: 'Manjari', sans-serif;
    margin: 10px;
    background: rgb(255 0 0 / 50%);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(255 0 0);
}
.modal-overlay-atualizar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(66, 66, 66, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(66, 66, 66, 0.3);
}

hr.style-two-modal {
    margin: 10px 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffffb5, rgba(0, 0, 0, 0));
}


.modal-content-atualizar {
    width: 90%;
    max-width: 500px;
    background-color: #e03d3df5;;
    padding: 20px;
    border-radius: 5px;
}

.closeModal{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

.containerHeaderModal {
    display: flex;
    justify-content: space-between;
}

.containerCloseModal{
    /* width: 100%; */
}

.containerCloseModal-atualizar {
    display: flex;
    justify-content: flex-end;
}


.buttonUpdate {
    width: 100%;
    margin-top: 25px;
    padding: 15px 50px;
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.93), rgba(0, 133, 255, 0.93)), rgba(0, 153, 255, 0.29);
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #fff;
    font-family: "Manjari", sans-serif;
    font-size: 1rem;
    transition: all 150ms ease-in;
}

.buttonUpdate:hover {
    transform: scale(1.02);
    background: #1366b4;
    cursor: pointer;
}